#content {
    		width: 220px;
    		height: 200px;
    	}
    	button {
			cursor: pointer;
		}
		#replyForm {
			width: 200px;
			height: 150px;
			position: fixed;
			left: 50%;
			top: 50%;
			margin-left: -100px;
			margin-top: -75px;
			display: none;
			z-index: 123;
			background: ivory;
		}
		#replyList {
			padding: 0px;
		}
		#replyList li {
			list-style: none;
			margin: 0px;
		}
		#fileDownload li {
			cursor: pointer;
		}