#loginForm fieldset{
            width: 400px;
            height: 450px;
            position: fixed;
            left: 50%;
            top: 50%;
            margin-left: -200px;
            margin-top: -225px;
            user-select: none;
        }
        fieldset img {
        	position: absolute;
        	width: 30px;
        	height: 30px;
        }
        .user_info {
            position: relative;
            left: 40px;
            top: 30px;
            height: 120px;
            font-size: 25px;
        }
        .user_info input {
            width: 300px;
            height: 35px;
            font-size: 18px;
            margin: 5px 0 10px 0;
        }
        .msg {
            width: 220px;
            position: relative;
            font-size: 13px;
            display: inline-block;
            left: 45px;
            top: 30px;
            text-align: center;
        }
        .msg.ok {
            color: red;
        }
        #signBtn {
            bottom: 35px;
        }
        #signBtn a{
            display: inline-block;
            width: 100%;
            line-height: 50px;
            text-decoration: none;
            color: black;
            /*background-color: red;*/
        }
        #loginBtn {
            bottom: 105px;
        }
        .btn {
            width: 315px;
            height: 50px;
            position: absolute;
            left: 50px;
        }